@charset "utf-8";
/* CSS Document */

/* class for the div that all the mini-pages live in */
.mainDiv {
	padding-left:30px;
	padding-right:30px;
}

/* classes for bootstrap drowdowns (non-searchable) */
.menuButton {
	width:100%;
	border-radius:0px;
}

.menu {
	border-radius:0px;
	padding-top:0px;
	padding-bottom:0px;
}
/* end said classes

/* classes used for the list page: */
.alignRight {
  float: right;
}

.padTop5 {
  padding-top: 5px;
}

.padLeft5 {
  padding-left: 5px;
}

.padBot5 {
  padding-bottom: 5px;
}

.bottom {
  vertical-align: -100%;
}

.middle {
  vertical-align: -50%;
}

.actionsCol {
  width: 10%;
}

.oppCol {
  width: 30%;
}

.dmCol {
  width: 60%
}
/* end said classes */

/* classes for the dynamic form inputs: */
.title { /* Main page title */
  color: #11AA44;
  font-size: 36px;
}
.sectionTitle {
  color: #11AA44;
  font-size: 20px;
}
.noInput {
  /* font-weight: bold; */
}
.textInput {

}
.textareaInput {
  min-height: 110px;
}
.numberInput {

}
.checkboxInput {

}
.radioInput {

}
.selectionlistInput {

}
/* end said classes */